"""
This script is used for generating a JSON schema model purpose.
For allowing connector to use this generator, you MUST import your config.
The connector configuration MUST use `pydantic` or `pydantic-settings` Python libraries.
The config classname model MUST be called ConfigLoader and comes from src.connector.models
"""
import json
import os
from collections import OrderedDict

from pydantic.json_schema import GenerateJsonSchema
# Import your configuration model
from src.connector.models import ConfigLoader


def load_connector_infos(filename: str) -> dict:
    """
    Utility function to load a json file to a dict
    :param filename: Filename in string
    :return:
    """
    filepath = os.path.join(os.path.dirname(__file__), "__infos__", filename)
    with open(filepath, encoding="utf-8") as json_file:
        return json.load(json_file)


def extract_connector_infos(schema: str) -> dict:
    connector_infos = load_connector_infos("connector_infos.json")

    key_order = []
    sorted_dict = OrderedDict()
    key_order.append("$schema")
    sorted_dict["$schema"] = schema

    for key, value in connector_infos.items():
        key_order.append(key)
        sorted_dict[key] = value

    return sorted_dict


def extract_connector_configurations(definitions: dict):
    base_configurations = definitions

    custom_dict = {
        "default": {},
        "required": [],
        "properties": {},
    }

    for key, value in base_configurations.items():
        extract_required_from_base = value["required"]
        custom_dict["required"].extend(extract_required_from_base)

        extract_properties_from_base = value["properties"]

        for config_name, config_value in extract_properties_from_base.items():
            if "default" in config_value:
                custom_dict["default"].update({config_name: config_value["default"]})
                del config_value["default"]

        custom_dict["properties"].update(extract_properties_from_base)

    return custom_dict


def make_connector_configurations(base_schema: dict, definitions) -> dict:
    keys_to_extract_from_base = ["type", "additionalProperties"]
    base_schema = {
        key: base_schema[key] for key in keys_to_extract_from_base if key in base_schema
    }

    connector_configurations = base_schema | extract_connector_configurations(
        definitions
    )

    return connector_configurations


class ConnectorCustomGenerator(GenerateJsonSchema):
    def generate(self, schema, mode="validation"):
        json_schema = super().generate(schema, mode=mode)

        connector_infos_json = extract_connector_infos(self.schema_dialect)

        # For connector that have properties configured for connector manager, add properties
        if json_schema["properties"]:
            connector_configurations = make_connector_configurations(
                json_schema, self.definitions
            )
            connector_infos_json = connector_infos_json | connector_configurations

        return connector_infos_json


get_connector_config = ConfigLoader

connector_json_schema = get_connector_config.model_json_schema(
    by_alias=True, schema_generator=ConnectorCustomGenerator
)

format_connector_schema = json.dumps(connector_json_schema, indent=2)
print(format_connector_schema)