{
  "$id": "https://www.filigran.io/[CHANGEME].schema.json",
  "title": "CHANGEME",
  "description": "CHANGEME",
  "short_description": "CHANGEME",

  "manager_supported": false,
  "container_version": "OCTI_VERSION",
  "container_image": "opencti/connector-CONNECTOR_NAME",
  "container_type": "CHANGEME",

  "verified": false,
  "last_verified_date": "DD-MM-YYYY"
  "playbook_supported": false,
  "images": [],
  "support_version": "CHANGEME",
  "trial_link": null,
  "subscription_link": "CHANGEME or null",
  "source_code": "CHANGEME"
}